:host {
  display: inline-block;
  --tooltip-display: none;
  --tooltip-left: 0;
  --tooltip-top: 0;
  --tooltip-arrow-top: unset;
  --tooltip-arrow-right: unset;
  --tooltip-arrow-bottom: unset;
  --tooltip-arrow-left: unset;
  --tooltip-arrow-margin-top: unset;
  --tooltip-arrow-margin-left: unset;
  --tooltip-arrow-border-color: unset;
  --tooltip-border-width: unset;
  --tooltip-border-color: unset;
  --tooltip-background-color: unset;
  --tooltip-max-width: unset;
  --tooltip-max-height: unset;
}

#tooltip-container {
  z-index: 99999;
  pointer-events: none;
  display: var(--tooltip-display);
  position: fixed;
  left: var(--tooltip-left);
  top: var(--tooltip-top);
}

#tooltip-container.styled {
  background-color: var(--tooltip-background-color);
  border-radius: 10px;
  padding: 10px;
  color: white;
  max-width: var(--tooltip-max-width);
  max-height: var(--tooltip-max-height);
  border-style: solid;
  border-width: var(--tooltip-border-width);
  border-color: var(--tooltip-border-color)
}

#tooltip-container.styled:after {
  content: "";
  position: absolute;
  top: var(--tooltip-arrow-top);
  right: var(--tooltip-arrow-right);
  bottom: var(--tooltip-arrow-bottom);
  left: var(--tooltip-arrow-left);
  margin-top: var(--tooltip-arrow-margin-top);
  margin-left: var(--tooltip-arrow-margin-left);
  border-width: 10px;
  border-style: solid;
  border-color: var(--tooltip-arrow-border-color);
}